// I M P O R T    F O N T S
@import "../fonts/blocus/stylesheet.css";
@import "../fonts/bluu-next/stylesheet.css";
@import "../fonts/gulax/stylesheet.css";
@import "../fonts/hyper-scrypt/font.css";
@import "../fonts/resistance-generale-master/stylesheet.css";
@import "../fonts/roboto/stylesheet.css";
@import "../fonts/solide-mirage/font.css";
@import "../fonts/sporting-grotesque/font.css";
@import "../fonts/trickster/font.css";

@import "settings.scss";

// PAGE SETTINGS
$widthPage: $page-widthPage;
$heightPage: $page-heightPage;
$margintop: $page-margintop;
$marginleft: $page-marginleft;

$scale : $page-scale;











