<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.typemytype.robofont.background.layerShowCoordinates</key>
	<false/>
	<key>com.typemytype.robofont.background.layerShowFill</key>
	<false/>
	<key>com.typemytype.robofont.background.layerShowPoints</key>
	<true/>
	<key>com.typemytype.robofont.background.layerShowStroke</key>
	<true/>
	<key>com.typemytype.robofont.background.layerStrokeColor</key>
	<array>
		<real>0.0</real>
		<real>0.8</real>
		<real>0.2</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.compileSettings.MacRomanFirst</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.autohint</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.checkOutlines</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.createDummyDSIG</key>
	<true/>
	<key>com.typemytype.robofont.compileSettings.decompose</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.generateFormat</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.compileSettings.path</key>
	<string>/Users/jjjlllnnn/ownCloud/Typo/Solide Mirage/Repository/fonts/SolideMirageEtroit.otf</string>
	<key>com.typemytype.robofont.compileSettings.releaseMode</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.foreground.layerStrokeColor</key>
	<array>
		<real>0.5</real>
		<real>0.0</real>
		<real>0.5</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.guides</key>
	<array>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>795</integer>
			<key>y</key>
			<integer>590</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>724</integer>
			<key>y</key>
			<integer>-20</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>689</integer>
			<key>y</key>
			<integer>770</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>181</integer>
			<key>y</key>
			<integer>800</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>498</integer>
			<key>y</key>
			<integer>650</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>88</integer>
			<key>y</key>
			<integer>-50</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>66</integer>
			<key>y</key>
			<integer>100</integer>
		</dict>
	</array>
	<key>com.typemytype.robofont.italicSlantOffset</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.layerOrder</key>
	<array>
		<string>background</string>
		<string>regular</string>
	</array>
	<key>com.typemytype.robofont.regular.layerStrokeColor</key>
	<array>
		<real>1.0</real>
		<real>0.75</real>
		<real>0.0</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.segmentType</key>
	<string>curve</string>
	<key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.sort</key>
	<array>
		<dict>
			<key>ascending</key>
			<array>
				<string>.notdef</string>
				<string>.null</string>
				<string>CR</string>
				<string>thinspace</string>
				<string>space</string>
				<string>UC</string>
				<string>A</string>
				<string>Agrave</string>
				<string>Aacute</string>
				<string>Acircumflex</string>
				<string>Atilde</string>
				<string>Adieresis</string>
				<string>Abreve</string>
				<string>Amacron</string>
				<string>Aring</string>
				<string>B</string>
				<string>C</string>
				<string>Cacute</string>
				<string>Ccircumflex</string>
				<string>Ccedilla</string>
				<string>Ccaron</string>
				<string>Cdotaccent</string>
				<string>D</string>
				<string>E</string>
				<string>Egrave</string>
				<string>Eacute</string>
				<string>Ecircumflex</string>
				<string>Edieresis</string>
				<string>Ebreve</string>
				<string>Ecaron</string>
				<string>Emacron</string>
				<string>Ehungarumlaut</string>
				<string>Edotaccent</string>
				<string>F</string>
				<string>G</string>
				<string>H</string>
				<string>I</string>
				<string>I.acc</string>
				<string>Igrave</string>
				<string>Iacute</string>
				<string>Icircumflex</string>
				<string>Idieresis</string>
				<string>Itilde</string>
				<string>Ibreve</string>
				<string>Imacron</string>
				<string>Idotaccent</string>
				<string>J</string>
				<string>K</string>
				<string>L</string>
				<string>Lslash</string>
				<string>M</string>
				<string>N</string>
				<string>Nacute</string>
				<string>Ntilde</string>
				<string>Ncaron</string>
				<string>O</string>
				<string>Ograve</string>
				<string>Oacute</string>
				<string>Ocircumflex</string>
				<string>Otilde</string>
				<string>Odieresis</string>
				<string>Obreve</string>
				<string>Omacron</string>
				<string>Ohungarumlaut</string>
				<string>P</string>
				<string>Q</string>
				<string>R</string>
				<string>S</string>
				<string>Sacute</string>
				<string>Scircumflex</string>
				<string>Scaron</string>
				<string>T</string>
				<string>U</string>
				<string>Ugrave</string>
				<string>Uacute</string>
				<string>Ucircumflex</string>
				<string>Udieresis</string>
				<string>Utilde</string>
				<string>Ubreve</string>
				<string>Umacron</string>
				<string>Uring</string>
				<string>Uhungarumlaut</string>
				<string>V</string>
				<string>W</string>
				<string>X</string>
				<string>Y</string>
				<string>Yacute</string>
				<string>Ycircumflex</string>
				<string>Ydieresis</string>
				<string>Ygrave</string>
				<string>Z</string>
				<string>Zacute</string>
				<string>Zcaron</string>
				<string>Zdotaccent</string>
				<string>AE</string>
				<string>OE</string>
				<string>Eth</string>
				<string>Oslash</string>
				<string>Thorn</string>
				<string>IJ</string>
				<string>LC</string>
				<string>a</string>
				<string>agrave</string>
				<string>aacute</string>
				<string>acircumflex</string>
				<string>atilde</string>
				<string>adieresis</string>
				<string>abreve</string>
				<string>amacron</string>
				<string>aring</string>
				<string>b</string>
				<string>c</string>
				<string>cacute</string>
				<string>ccircumflex</string>
				<string>ccedilla</string>
				<string>ccaron</string>
				<string>cdotaccent</string>
				<string>d</string>
				<string>e</string>
				<string>egrave</string>
				<string>eacute</string>
				<string>ecircumflex</string>
				<string>edieresis</string>
				<string>ebreve</string>
				<string>ecaron</string>
				<string>emacron</string>
				<string>ehungarumlaut</string>
				<string>edotaccent</string>
				<string>f</string>
				<string>g</string>
				<string>h</string>
				<string>i</string>
				<string>dotlessi</string>
				<string>igrave</string>
				<string>iacute</string>
				<string>icircumflex</string>
				<string>idieresis</string>
				<string>itilde</string>
				<string>ibreve</string>
				<string>imacron</string>
				<string>j</string>
				<string>dotlessj</string>
				<string>k</string>
				<string>l</string>
				<string>lslash</string>
				<string>m</string>
				<string>n</string>
				<string>nacute</string>
				<string>ntilde</string>
				<string>ncaron</string>
				<string>o</string>
				<string>ograve</string>
				<string>oacute</string>
				<string>ocircumflex</string>
				<string>otilde</string>
				<string>odieresis</string>
				<string>obreve</string>
				<string>omacron</string>
				<string>ohungarumlaut</string>
				<string>p</string>
				<string>q</string>
				<string>r</string>
				<string>s</string>
				<string>sacute</string>
				<string>scircumflex</string>
				<string>scaron</string>
				<string>t</string>
				<string>u</string>
				<string>ugrave</string>
				<string>uacute</string>
				<string>ucircumflex</string>
				<string>udieresis</string>
				<string>utilde</string>
				<string>ubreve</string>
				<string>umacron</string>
				<string>uring</string>
				<string>uhungarumlaut</string>
				<string>v</string>
				<string>w</string>
				<string>x</string>
				<string>y</string>
				<string>yacute</string>
				<string>ydieresis</string>
				<string>ycircumflex</string>
				<string>ygrave</string>
				<string>z</string>
				<string>zacute</string>
				<string>zcaron</string>
				<string>zdotaccent</string>
				<string>ae</string>
				<string>oe</string>
				<string>ij</string>
				<string>FIG</string>
				<string>dollar</string>
				<string>cent</string>
				<string>currency</string>
				<string>yen</string>
				<string>Euro</string>
				<string>zero</string>
				<string>one</string>
				<string>two</string>
				<string>three</string>
				<string>four</string>
				<string>five</string>
				<string>six</string>
				<string>seven</string>
				<string>eight</string>
				<string>nine</string>
				<string>PUNC</string>
				<string>underscore</string>
				<string>hyphen</string>
				<string>endash</string>
				<string>emdash</string>
				<string>parenleft</string>
				<string>parenright</string>
				<string>bracketleft</string>
				<string>bracketright</string>
				<string>braceleft</string>
				<string>braceright</string>
				<string>quotesinglbase</string>
				<string>quotedblbase</string>
				<string>quoteleft</string>
				<string>quotedblleft</string>
				<string>quoteright</string>
				<string>quotedblright</string>
				<string>guilsinglleft</string>
				<string>guilsinglright</string>
				<string>quotesingle</string>
				<string>quotedbl</string>
				<string>guillemotleft</string>
				<string>guillemotright</string>
				<string>numbersign</string>
				<string>percent</string>
				<string>ampersand</string>
				<string>asterisk</string>
				<string>comma</string>
				<string>period</string>
				<string>slash</string>
				<string>colon</string>
				<string>semicolon</string>
				<string>at</string>
				<string>backslash</string>
				<string>question</string>
				<string>questiondown</string>
				<string>exclam</string>
				<string>exclamdown</string>
				<string>periodcentered</string>
				<string>dagger</string>
				<string>daggerdbl</string>
				<string>bullet</string>
				<string>ellipsis</string>
				<string>brokenbar</string>
				<string>section</string>
				<string>copyright</string>
				<string>registered</string>
				<string>trademark</string>
				<string>ordfeminine</string>
				<string>ordmasculine</string>
				<string>degree</string>
				<string>paragraph</string>
				<string>ACC</string>
				<string>asciicircum</string>
				<string>grave</string>
				<string>macron</string>
				<string>acute</string>
				<string>circumflex</string>
				<string>caron</string>
				<string>cedilla</string>
				<string>breve</string>
				<string>dotaccent</string>
				<string>ring</string>
				<string>ogonek</string>
				<string>tilde</string>
				<string>hungarumlaut</string>
				<string>dieresis</string>
				<string>LIG</string>
				<string>Fam_ligne</string>
				<string>FAM</string>
				<string>VTF</string>
				<string>WWW</string>
				<string>ALT</string>
				<string>A.2</string>
				<string>o.2</string>
				<string>V.2</string>
				<string>ORN</string>
				<string>uniA66E</string>
				<string>uni0489</string>
				<string>uni0488</string>
				<string>uniA69A</string>
				<string>uniA672</string>
				<string>checkbox</string>
				<string>shadowblackcircle</string>
				<string>triangleupwhite</string>
				<string>dngb:starcentreblackwhite</string>
				<string>bullet.006</string>
				<string>circlewhite</string>
				<string>petitarc</string>
				<string>gmtr:diamondblack</string>
				<string>fisheye</string>
				<string>melange</string>
				<string>petitecroix</string>
				<string>centreddotwhitediamond</string>
				<string>dngb:starofdavid</string>
				<string>dngb:starpinwheel</string>
				<string>triangleupblack</string>
				<string>dngb:starpointedwhitefour</string>
				<string>dngb:asteriskballoonfour</string>
				<string>dngb:starpointedblackfour</string>
				<string>starwhite</string>
				<string>dngb:asteriskclubfour</string>
				<string>dngb:arrowheadrightthreeDtoplight</string>
				<string>circlehalfleftblack</string>
				<string>uni2190.alt4</string>
				<string>uni2190.alt3</string>
				<string>starblack</string>
				<string>sunrayswhite</string>
				<string>squareblack</string>
				<string>europe13</string>
				<string>europe</string>
			</array>
			<key>type</key>
			<string>glyphList</string>
		</dict>
	</array>
	<key>com.typesupply.MetricsMachine4.groupColors</key>
	<dict>
		<key>@MMK_L_A</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_A.alt</key>
		<array>
			<real>1.0</real>
			<real>0.5</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_F</key>
		<array>
			<real>0.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_K</key>
		<array>
			<real>0.5</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_L</key>
		<array>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_M</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_O</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_P</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_T</key>
		<array>
			<real>0.0</real>
			<real>0.5</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_U</key>
		<array>
			<real>0.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_V</key>
		<array>
			<real>0.5</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_V.alt</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_W</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.5</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_X</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_a</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.5</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_f</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_l</key>
		<array>
			<real>1.0</real>
			<real>0.5</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_p</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_punc_low</key>
		<array>
			<real>0.0</real>
			<real>0.5</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_r</key>
		<array>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_seven</key>
		<array>
			<real>1.0</real>
			<real>0.5</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_v</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_A</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_A.alt</key>
		<array>
			<real>1.0</real>
			<real>0.5</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_J</key>
		<array>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_M</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_O</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_T</key>
		<array>
			<real>0.0</real>
			<real>0.5</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_U</key>
		<array>
			<real>0.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_V</key>
		<array>
			<real>0.5</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_V.alt</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_W</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_X</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_a</key>
		<array>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_four</key>
		<array>
			<real>1.0</real>
			<real>0.5</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_j</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.5</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_punct_low</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
	</dict>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>.null</string>
		<string>CR</string>
		<string>thinspace</string>
		<string>space</string>
		<string>UC</string>
		<string>A</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Abreve</string>
		<string>Amacron</string>
		<string>Aring</string>
		<string>B</string>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccircumflex</string>
		<string>Ccedilla</string>
		<string>Ccaron</string>
		<string>Cdotaccent</string>
		<string>D</string>
		<string>E</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Emacron</string>
		<string>Ehungarumlaut</string>
		<string>Edotaccent</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>I.acc</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Itilde</string>
		<string>Ibreve</string>
		<string>Imacron</string>
		<string>Idotaccent</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>Lslash</string>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ntilde</string>
		<string>Ncaron</string>
		<string>O</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>Obreve</string>
		<string>Omacron</string>
		<string>Ohungarumlaut</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scircumflex</string>
		<string>Scaron</string>
		<string>T</string>
		<string>U</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Utilde</string>
		<string>Ubreve</string>
		<string>Umacron</string>
		<string>Uring</string>
		<string>Uhungarumlaut</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>AE</string>
		<string>OE</string>
		<string>Eth</string>
		<string>Oslash</string>
		<string>Thorn</string>
		<string>IJ</string>
		<string>LC</string>
		<string>a</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>abreve</string>
		<string>amacron</string>
		<string>aring</string>
		<string>b</string>
		<string>c</string>
		<string>cacute</string>
		<string>ccircumflex</string>
		<string>ccedilla</string>
		<string>ccaron</string>
		<string>cdotaccent</string>
		<string>d</string>
		<string>e</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>emacron</string>
		<string>ehungarumlaut</string>
		<string>edotaccent</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>dotlessi</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>itilde</string>
		<string>ibreve</string>
		<string>imacron</string>
		<string>j</string>
		<string>dotlessj</string>
		<string>k</string>
		<string>l</string>
		<string>lslash</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ntilde</string>
		<string>ncaron</string>
		<string>o</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>obreve</string>
		<string>omacron</string>
		<string>ohungarumlaut</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>sacute</string>
		<string>scircumflex</string>
		<string>scaron</string>
		<string>t</string>
		<string>u</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>utilde</string>
		<string>ubreve</string>
		<string>umacron</string>
		<string>uring</string>
		<string>uhungarumlaut</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
		<string>ycircumflex</string>
		<string>ygrave</string>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>ae</string>
		<string>oe</string>
		<string>ij</string>
		<string>FIG</string>
		<string>dollar</string>
		<string>cent</string>
		<string>currency</string>
		<string>yen</string>
		<string>Euro</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>PUNC</string>
		<string>underscore</string>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>quoteleft</string>
		<string>quotedblleft</string>
		<string>quoteright</string>
		<string>quotedblright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>quotesingle</string>
		<string>quotedbl</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>numbersign</string>
		<string>percent</string>
		<string>ampersand</string>
		<string>asterisk</string>
		<string>comma</string>
		<string>period</string>
		<string>slash</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>at</string>
		<string>backslash</string>
		<string>question</string>
		<string>questiondown</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>periodcentered</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>bullet</string>
		<string>ellipsis</string>
		<string>brokenbar</string>
		<string>section</string>
		<string>copyright</string>
		<string>registered</string>
		<string>trademark</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>degree</string>
		<string>paragraph</string>
		<string>ACC</string>
		<string>asciicircum</string>
		<string>grave</string>
		<string>macron</string>
		<string>acute</string>
		<string>circumflex</string>
		<string>caron</string>
		<string>cedilla</string>
		<string>breve</string>
		<string>dotaccent</string>
		<string>ring</string>
		<string>ogonek</string>
		<string>tilde</string>
		<string>hungarumlaut</string>
		<string>dieresis</string>
		<string>LIG</string>
		<string>Fam_ligne</string>
		<string>FAM</string>
		<string>VTF</string>
		<string>WWW</string>
		<string>ALT</string>
		<string>A.2</string>
		<string>o.2</string>
		<string>V.2</string>
		<string>ORN</string>
		<string>uniA66E</string>
		<string>uni0489</string>
		<string>uni0488</string>
		<string>uniA69A</string>
		<string>uniA672</string>
		<string>checkbox</string>
		<string>shadowblackcircle</string>
		<string>triangleupwhite</string>
		<string>dngb:starcentreblackwhite</string>
		<string>bullet.006</string>
		<string>circlewhite</string>
		<string>petitarc</string>
		<string>gmtr:diamondblack</string>
		<string>fisheye</string>
		<string>melange</string>
		<string>petitecroix</string>
		<string>centreddotwhitediamond</string>
		<string>dngb:starofdavid</string>
		<string>dngb:starpinwheel</string>
		<string>triangleupblack</string>
		<string>dngb:starpointedwhitefour</string>
		<string>dngb:asteriskballoonfour</string>
		<string>dngb:starpointedblackfour</string>
		<string>starwhite</string>
		<string>dngb:asteriskclubfour</string>
		<string>dngb:arrowheadrightthreeDtoplight</string>
		<string>circlehalfleftblack</string>
		<string>uni2190.alt4</string>
		<string>uni2190.alt3</string>
		<string>starblack</string>
		<string>sunrayswhite</string>
		<string>squareblack</string>
		<string>europe13</string>
		<string>europe</string>
	</array>
</dict>
</plist>
